//<%= %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node Server</title>
</head>

<body>
    <h1>This is the home page!</h1>



    <form action="/home" method="post">
        <label>What is your name?</label>
        <input type="text" name="first" placeholder="First Name">
        <input type="text" name="last" placeholder="Last Name">
        <input type="submit">
    </form>

    <% people.forEach(function(person) { %>
      <a href="/about/<%= person.firstName%>"><%= person.firstName + " " + person.lastName%> </a>
    <% }); %>
</body>

</html>
